<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Dados_do_Cliente.Properties.Settings.conexaoDB" connectionString="Data Source=AME0556344W10-1\SQLEXPRESS;Initial Catalog=Dados;User ID=sa;Password=aluno123"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>